/* account page */
body {
    margin:1rem;
  }
  
  .account{
    margin:1rem;
  }
  
  .productDisplay{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(11.3rem, 10rem));
    gap:0.7rem;
    justify-content:center;
    
    /* background-color: gainsboro; */
  
    /* overflow:hidden;
    border-radius:0.2rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    cursor:pointer;
    transition:transform 200ms ease-in; */
   
  }
  
  .box{
    overflow:hidden;
    /* border-radius:10px; */
    padding:10px;
    background-color: rgb(236, 236, 236);
    /* box-shadow:0 2px 20px #dddbdb; */
    
  }
  
  img{
    height:13rem;
    width: 10rem;
    object-fit:cover;
  }
  
  .cart{
    width: 75px;
    margin-right: 10px;
  }
  
  .delete{
    width: 75px;
  }
  
  .buttonDiv {
    margin-left: 75%;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .button {
    font-size: large;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    background-color: red;
    border-radius: 4px;
    transition: transform 0.3s ease;
    outline: none;
  }
  
  .button:hover {
    transform: translate(-2px, -2px);
  }
  
  .button::after, .button::before{
    content: "";
    position: absolute;
    opacity: 0;
    background-color: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
  }

  .logout-btn{
      display: flex;
      height: 30px;
      position:fixed;
  }